<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5Df3ef1rmU9GokU9ecXPhHSQ5r-yHdMU</string>
	<key>GCM_SENDER_ID</key>
	<string>324396340427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adilneko.com.KGMartTz</string>
	<key>PROJECT_ID</key>
	<string>kgmarttz</string>
	<key>STORAGE_BUCKET</key>
	<string>kgmarttz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324396340427:ios:270f3d24e37b48cfadb74e</string>
</dict>
</plist>